<div id="app">
  <h1>Rocket League Tutorials</h1>
  <body>
    <form>
      Tutorial Type:
      <select id="type">
        <%=  options_from_collection_for_select(Type.all, :id, :name) %>
      </select>
      Difficulty:
      <select id="difficulty">
        <%= options_from_collection_for_select(Difficulty.all, :id, :name) %>
      </select>
    </form>
  </body>
  <ul class="type"></ul>
</div>
