<div id="app">
  <h1>Rocket League Tutorials</h1>
  <body>
    <form>
      Tutorial Type:
      <select id="tutorial">
        <option value=''>Select</option>
      </select>
      Difficulty:
      <select id="difficulty">
        <option value=''>Select</option>
      </select>
    </form>
  </body>
  <ul class="screencasts"/>
</div>
